.App {
  margin: 0;
  padding: 0;
  width: 100%;
  /* width: 100vh; */
  /* height: 100vh; */
  height: 100%;
  /* display: table; */
  display: flex;
  flex-direction: column;
  background-color: black;
  /* overflow: hidden; */
}